body {
  color: #fff; }

.navbar {
  border-bottom: solid #B44D09 3px !important; }

#posts-display .posts-display-inner {
  padding-top: 90px; }

#register-form-section {
  background: url("../img/bg-image-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #register-form-section .dark-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  #register-form-section .register-form-section-inner {
    padding-top: 110px; }
    #register-form-section .register-form-section-inner .fa {
      padding: 10px;
      border-radius: 10px;
      background: #B44D09;
      color: #fff; }

#login-form-section {
  background: url("../img/bg-image-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #login-form-section .dark-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  #login-form-section .login-form-section-inner {
    padding-top: 110px; }
    #login-form-section .login-form-section-inner .fa {
      padding: 10px;
      border-radius: 10px;
      background: #B44D09;
      color: #fff; }

#create-form-section .create-form-section-inner {
  padding-top: 110px; }

#display-post .display-post-inner {
  padding-top: 110px; }
  #display-post .display-post-inner .post-images img {
    transition: transform .2s; }
  #display-post .display-post-inner .post-images img:hover {
    transform: scale(1.5); }
  #display-post .display-post-inner .post-images a {
    text-decoration: none; }

#related-posts .related-posts-inner a {
  text-decoration: none; }

.dark-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  display: none; }
  .dark-image-overlay .dark-image-overlay-inner {
    padding-top: 110px; }
